# Configuration files
app/core/config.env

# Python cache files
__pycache__/

# Excel files
app/excel_exports/
excel_exports/

# Pdf files
app/pdf_exports/
pdf_exports/

# Export logs
app/exports_logs/
export_logs/

# Debugging files
download_export.html
debug_user.py
app/routes/debug.py

# Node modules
frontend/node_modules/