fastapi['standard']
uvicorn['standard']
sqlalchemy
sqlmodel
alembic
asyncpg
python-dotenv
passlib
upstash_redis
bcrypt
passlib[bcrypt]
python-jose[cryptography]
APScheduler
pandas
openpyxl
xlsxwriter
fpdf
fpdf2