fastapi[standard]
uvicorn[standard]
sqlalchemy
sqlmodel
alembic
asyncpg
python-dotenv
passlib
upstash_redis
bcrypt<4.1
passlib[bcrypt]
python-jose[cryptography]
APScheduler
pandas
openpyxl
xlsxwriter
fpdf
fpdf2
pydantic[email]
sendgrid